@{
    ViewData["Title"] = "О проекте";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2>О проекте</h2>
            </div>
            <div class="card-body">
                <p class="lead">Добро пожаловать в Мой Блог - платформу для публикации и обмена знаниями!</p>

                <p>Наш блог был создан с целью предоставить авторам возможность делиться своими мыслями, идеями и опытом с широкой аудиторией. Мы верим, что знания должны быть доступны каждому, и наш блог является шагом в этом направлении.</p>

                <h4>Наши возможности:</h4>
                <ul>
                    <li>Публикация статей с поддержкой форматирования</li>
                    <li>Система тегов для удобной категоризации контента</li>
                    <li>Комментирование и обсуждение материалов</li>
                    <li>Поиск по статьям и тегам</li>
                    <li>Профили пользователей с личными блогами</li>
                </ul>

                <p>Присоединяйтесь к нашему сообществу и делитесь своими знаниями с миром!</p>

                <div class="text-center mt-4">
                    <a asp-controller="Auth" asp-action="Register" class="btn btn-primary btn-lg">Присоединиться</a>
                </div>
            </div>
        </div>
    </div>
</div>